body {
	width: 100%;
	padding: 50px 0 0 0;
	margin: 0;
	font-size: 20px;
}

.counting {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #000;
	margin-bottom: 50px;
	padding: 20px;
}

.test {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #000;
	padding: 20px;

	button {
		font-size: 20px;
		padding: 5px 30px;
		margin-bottom: 20px;
	}
}